* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;

  header {
    background-color: #3997da90;
    height: 8rem;
    text-align: center;
    margin-bottom: 2rem;
    
    h1{
      margin-bottom: 1rem;
      margin-top: initial;
      font-size: 4rem;
    }
    
    select {
      background-color: transparent;
      padding: 4px;
      width: auto;
      border-radius: 5px;
      text-align: center;
      height: 2rem;
    }
  }
}


#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  #card {
    border: none;
    background-color: transparent;
  
    .card-body {
      text-align: center;
      justify-content: center;
        background-color: #3997da90;
      margin: 5px;
      border: none;
      border-radius: 15px;
    }
  }
}
